/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Manrope', sans-serif;
    background-color: var(--g1);
  }
}

:root {
  --feat: #ED8936;
  --birthday: #4299E1;
  --relationship: #EF4444;
  --important: #14B8A6;
  --g1: #F8F9FA;
  --g2: #EDF2F7;
  --g3: #E2E8F0;
  --g4: #CBD5E0;
  --g5: #A0AEC0;
  --g6: #718096;
  --g7: #4A5568;
}
body {
  height: 100vh;
  background-color: var(--g1);
  overflow-x: hidden;
}
[type='radio']:checked {
  background-image: unset;
  background-color: currentColor;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrap {
  margin: 0 auto;
  padding: 0 20px;
}

/* Buttons */
.btn {
  border-width: 2px;
}
.btn-outline {
  color: var(--g5);
  border-color: var(--g4);
}
.btn-ghost {
  color: var(--g5);
}
.btn-ghost:hover {
  background-color: transparent;
  border-color: var(--g4);
}
.btn-outline:hover {
  background-color: transparent;
  color: var(--g6);
  border-color: var(--g5);
}
.btn[disabled] {
  background-color: var(--g1);
  color: var(--g6);
  opacity: .3;
}

/* Form */
label.label {
  display: block;
  padding: 0;
}
.form-control input {
  color: var(--g6);
  border-color: var(--g3);
  border-width: 2px;
}
.form-control input:focus {
  --tw-ring-color: var(--g2);
  border-color: var(--g2);
}
.form .form-control {
  margin-top: 20px;
  padding: 20px 0 0;
  position: relative;
}
.form .form-control::before {
  content: '';
  display: block;
  height: 2px;
  width: calc(100% + 64px);
  background-color: var(--g1);
  position: absolute;
  top: 0;
  left: -32px;
}